<h1>Edit Contact</h1>
<form action="/contacts/<%= @contact.id %>" method="contact">
  <input type="hidden" name="_method" value="put"/> 
 
  <label for="contact_title">Title:</label><br/>
  <input id="contact_title" name="contact[title]" type="text" value="<%= @contact.title %>"/>
  <br/>
 
  <label for="contact_body">Body:</label><br/>
  <textarea id="contact_body" name="contact[body]" rows="5"><%= @contact.body %></textarea>
  <br/>
 
  <input type="submit" value="Edit Contact"/>
</form>   