<h1>Welcome to my Contact List Web App!</h1>
<ul>
<% @contacts.each do |contact| %>
  <li>
		<h2><a href="/contacts/<%= contact.id %>"><%= post.title %></a>
    <span><%= pretty_date(contact.created_at) %></span>
    </h2>
  </li>
 <% end %>
 </ul>